<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Áraink</h1>
  <p class="lead">Részletes árlistáért hívja ügyfélszolgálatunkat.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ priceTable[0].name }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">${{ priceTable[0].price }}
          <small class="text-muted">/ mo</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li *ngFor="let item of priceTable[0].options">
            {{ item }}
          </li>
        </ul>
        <button
          type="button"
          class="btn btn-lg btn-block btn-outline-primary"
        >{{ priceTable[0].btnText }}</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ priceTable[1].name }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">${{ priceTable[1].price }}
          <small class="text-muted">/ hó</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li *ngFor="let item of priceTable[1].options">
            {{ item }}
          </li>
        </ul>
        <button
          type="button"
          class="btn btn-lg btn-block btn-outline-primary"
        >{{ priceTable[1].btnText }}</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ priceTable[2].name }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">${{ priceTable[2].price }}
          <small class="text-muted">/ hó</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li *ngFor="let item of priceTable[2].options">
            {{ item }}
          </li>
        </ul>
        <button
          type="button"
          class="btn btn-lg btn-block btn-outline-primary"
        >{{ priceTable[2].btnText }}</button>
      </div>
    </div>
  </div>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2017-2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a
              class="text-muted"
              href="#"
            >Cool stuff</a></li>
          <li><a
              class="text-muted"
              href="#"
            >Random feature</a></li>
          <li><a
              class="text-muted"
              href="#"
            >Team feature</a></li>
          <li><a
              class="text-muted"
              href="#"
            >Stuff for developers</a></li>
          <li><a
              class="text-muted"
              href="#"
            >Another one</a></li>
          <li><a
              class="text-muted"
              href="#"
            >Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a
              class="text-muted"
              href="#"
            >Resource</a></li>
          <li><a
              class="text-muted"
              href="#"
            >Resource name</a></li>
          <li><a
              class="text-muted"
              href="#"
            >Another resource</a></li>
          <li><a
              class="text-muted"
              href="#"
            >Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a
              class="text-muted"
              href="#"
            >Team</a></li>
          <li><a
              class="text-muted"
              href="#"
            >Locations</a></li>
          <li><a
              class="text-muted"
              href="#"
            >Privacy</a></li>
          <li><a
              class="text-muted"
              href="#"
            >Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
